<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Publisher</title>
</head>
<body>
    <h1>Publisher List</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
        <tr th:each="publisher : ${publishers}">
            <td th:text="${publisher.getId()}"/>
            <td th:text="${publisher.introduce()}"/>
            <td th:text="${publisher.getAddress()}"/>
        </tr>
    </table>
</body>
</html>